@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700&family=Stick+No+Bills:wght@200;500&display=swap');

:root {
  --header-font: 'Stick No Bills', sans-serif;
  --theme-color: #fee715ff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(300deg, #101820FF 35%, #20A161 150%);*/
}
#canvas {
  /* height: calc(100vh - 40px) !important; */
  overflow-x: 'hidden' !important;
  position: absolute;
  z-index: 0;
  height: 100vh !important;
}
.important {
  color: #f8e112;
}

.App {
  min-height: 100vh;
  display: flex;
  background-color: '#000';
  flex-direction: column;
  /*background-image: linear-gradient(300deg, #101820FF 35%, #FEE715FF  150%);*/
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

#header_container {
  position: absolute;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  background-color: transparent;
  z-index: 999999;
}
/* home page  */

#home {
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex: 9.5;
  padding-top: 130px;
  width: 100vw;
}

#stack {
  flex-direction: column;
  display: flex;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  width: 100vw;
}
#about {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  padding-top: 20px;
  flex-direction: column;
  overflow: hidden;
  margin-top: 50px;
}
#projects {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding-top: 90px;
  margin-top: 50px;
}
#dashboard {
  flex-direction: column;
  display: flex;
  margin-left: 300px;
  justify-content: center;
  align-items: center;
  flex: 9.5;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  margin-top: 50px;
}
#cv {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 9.5;
  max-height: 90vh;
  margin-top: 50px;
}
/* .screen_background {
  background-color: greenyellow;
  background-image: linear-gradient(37deg, greenyellow 50%, #0d324d 50%);
} */

.about__paragraph-container {
  display: flex;
  align-items: center;

  padding: 0 50px;
}

#home_welcome_title {
  font-family: var(--header-font);
  font-weight: 500;
  font-size: 45px;
}

.colored__paragraphs {
  background: -webkit-linear-gradient(19deg, #eee 40%, var(--theme-color) 20%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.65;
  color: #dfff00;
  letter-spacing: 1px;
  list-style-type: none;
  padding: 10px 50px;
  max-width: 80%;
  margin: 0 auto;
}

.colored__titles {
  font-family: var(--header-font);
  font-size: 2.3vw;
  background: -webkit-linear-gradient(250deg, #eee 60%, var(--theme-color) 10%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-self: center;
}
#button {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
}
.colored__a {
  background: -webkit-linear-gradient(285deg, #eee 40%, var(--theme-color) 20%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* home page  */
a {
  text-decoration: none;
  color: #ccc;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  text-align: left;
  width: 170px;
  font-family: var(--header-font);
  font-weight: bold;
  cursor: pointer;
}
/* .icon {
  background-image: linear-gradient(
    240deg,
    var(--theme-color) 52%,
    transparent 30%,
    transparent 30%
  ) !important;
} */

/* .icon:hover {
  background-position: 100%;
  background-image: linear-gradient(
    240deg,
    var(--theme-color) 10%,
    transparent 50%,
    transparent 30%
  ) !important;
} */

.icons_container {
  display: flex;
  gap: 10px;
  align-items: center;
}
.icons_text {
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  text-align: left;
  font-family: var(--header-font);
  font-weight: bold;
  cursor: pointer;
  color: #cccccc !important;
  user-select: none;
}

#home_title {
  text-align: inherit;
}
/*
a:hover{
  letter-spacing: 0.25em;
}

*/

/*dashboard*/
form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  color: aliceblue;
}
button {
  background-color: #0d324d;
  color: aliceblue;
  border: none;
  border-radius: 4px;
  padding: 3px;
  font-weight: bold;
}

/*dashboard*/

/* -----cv----- */
#cv_container {
  background-color: white;
  width: 750px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 90vh;
}

#cv_title {
  color: white;
  letter-spacing: 5px;
  font-weight: lighter;
  font-size: 52px;
  height: 70px;
  background-color: #4d4d4d;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.hide {
  text-shadow: 0 0 8px #000;
  color: transparent;
}

.modal {
  width: 95vw;
  height: 90vh;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  /* display: flex;
  justify-content: end; */
  z-index: 9999999999;
  border-radius: 8px;
  position: absolute;
  top: 50px;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.modal::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}
.card__container {
  padding: 50px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
}

.home__left-side-bar {
  position: absolute;
  left: 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 40px;
  justify-content: center;
}

.modal__hide {
  display: none;
  z-index: 0;
}
.modal__show {
  display: flex;

  z-index: 9999999999;
  opacity: 0.5;
}

.modal__close-button {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* -----cv----- */

/* -----about----- */

#skills_container {
  display: flex;
  height: 300px;
  /* flex-direction: column; */
  flex-wrap: wrap;
  padding: 50px 10px;
}

/* -----about----- */
@media screen and (max-width: 511px) {
  #header_container {
    margin-top: 50px;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
  }
  #cv_container {
    width: 350px;
  }
  .card__container {
    padding: 0;
    margin: 10px;
  }
  #skills_container {
    flex-direction: column;
    height: auto;
  }
  .about__paragraph-container {
    flex-direction: column;
    padding: 0;
  }
  .colored__paragraphs {
    padding: 0;
  }
  .colored__titles {
    font-size: 21px;
  }
  .about__paragraph-container {
    padding-top: 15px;
  }
  .icons_text {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 811px) {
  #home,
  #about,
  #dashboard,
  #cv {
    margin-left: 0;
  }
  .App {
    flex-direction: column;
    height: auto;
  }
  #home_title {
    text-align: center;
  }
  #skills_container {
    font-size: 11px;
  }

  #present_word {
    font-size: 11px;
  }

  #present_title {
    font-size: 21px;
  }
  #projects {
    font-size: 12px;
  }
  #about {
    flex-direction: column;
    padding: 20px;
  }

  #cv_title {
    width: 100vh;
  }

  #project_list_a {
    display: table-cell;
  }
  .card__container {
    grid-template-columns: 1fr !important;
    padding-left: 0px !important;
    padding-top: 30px !important;
  }
}
